/*共通CSS*/
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: "Osaka";
  src: url(../fonts/Osaka.ttf);
}
@font-face {
  font-family: "Moon";
  src: url(../fonts/MoonLight.otf);
}
@font-face {
  font-family: "AppliMincho";
  src: url(../fonts/AppliMincho.otf);
}
@font-face {
  font-family: "HiraginoW4";
  src: url(../fonts/Hiragino_W4.ttc);
}
@font-face {
  font-family: "HiraginoW7";
  src: url(../fonts/Hiragino_W7.ttc);
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}

html {
  visibility: hidden; /*FOUTを防ぐ*/
}
html.wf-active,
html.loading-delay {
  visibility: visible; /*FOUTを防ぐ*/
}
html a {
  color: #4498ff;
  transition: 0.3s;
}
html a:hover {
  color: #9cceeb;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0 auto;
  font-family: Quicksand;
  letter-spacing: 2px;
  color: rgb(84, 89, 90);
  font-family: "a-otf-futo-go-b101-pr6n";
}

body {
  background: rgb(255, 255, 255);
  scrollbar-face-color: #000000;
}

.page-top {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}
.box {
  width: 90%;
  position: relative;
  text-align: right;
  flex: 5;
}
.arrow-box {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#bg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.title00 {
  color: #000000;
  font-family: "HiraginoW7";
  font-size: 3rem;
  letter-spacing: 0.8px;
  margin-bottom: 1rem;
}
#title00_yokoku {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  /* color: rgba(250, 251, 250); */
  color: #000000;
}
span {
  display: inline-block;
}
.arrow00 {
  color: #000000;
  font-family: "HiraginoW4";
  letter-spacing: 0.8px;
}
  .arrow00 img {
    display: relative;
    width: 100%;
    height: auto;
    max-width: 100px;
    min-width: 10px;
  }
.arrow {
  animation-name: arrow-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
@keyframes arrow-animation {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -15px);
  }
}
.middle {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 38%;
}
.margin {
  margin-top: 15%;
}
.contact {
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.95px;
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 1.75rem;
  text-align: center;
}
  .contact span {
    font-size: 1.5rem;
    font-weight: 900;
  }