/*共通CSS*/
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: "Osaka";
  src: url(../fonts/Osaka.ttf);
}
@font-face {
  font-family: "Moon";
  src: url(../fonts/MoonLight.otf);
}
@font-face {
  font-family: "AppliMincho";
  src: url(../fonts/AppliMincho.otf);
}
@font-face {
  font-family: "HiraginoW4";
  src: url(../fonts/Hiragino_W4.ttc);
}
@font-face {
  font-family: "HiraginoW7";
  src: url(../fonts/Hiragino_W7.ttc);
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}

html {
  visibility: hidden; /*FOUTを防ぐ*/
}
html.wf-active,
html.loading-delay {
  visibility: visible; /*FOUTを防ぐ*/
}
html a {
  color: #4498ff;
  transition: 0.3s;
}
html a:hover {
  color: #9cceeb;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 10px;
  margin: 0 auto;
  font-family: Quicksand;
  letter-spacing: 2px;
  color: rgb(84, 89, 90);
  font-family: "a-otf-futo-go-b101-pr6n";
}

body {
  background: rgb(255, 255, 255);
  scrollbar-face-color: #000000;
}