.top-header {
  position: relative;
  flex: 2.75;
  display: inline;
}
.backStr {
  position: absolute;
  display: inline;
  font-family: "HiraginoW4";
  font-size: 2rem;
  line-height: 2.45rem;
  color: #c8ced1;
  top: 0%;
  text-align: center;
  white-space: nowrap;
}

.title01 {
  color: #000000;
  font-family: "HiraginoW4";
  font-size: 1.75rem;
  letter-spacing: 0.8px;
  margin-bottom: 13rem;
}
.title01 img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  margin-bottom: -13.5rem;
}
.countdown {
  color: #000000;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: 5.5rem;
  margin-top: -0.5%;
  margin-left: -1.25%;
  margin-bottom: 0%;
}
.middle-box-01 {
  position: relative;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  margin-top: 8%;
}
.middle-box-02 {
  position: relative;
  overflow: hidden;
  z-index: 50;
  background-color: rgba(250, 251, 250, 0.8);
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  margin-bottom: -5%;
  margin-right: 0;
  box-shadow: 6px 6px #000000;
}
.details00 {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: a-otf-futo-go-b101-pr6n, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.85px;
  line-height: 25px;
  margin-top: 0rem;
}
  #details00_detail {
    position: relative;
    z-index: 100;
    color: #000000;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    letter-spacing: 0.85px;
    font-size: 1.5rem;
  }
  #details00_detail span {
    font-weight: 900;
    line-height: 2.25rem;
  }
.details01 {
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.85px;
  margin-top: 10%;
  margin-right: 10%;
}
.details01-s {
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.25px;
  margin-top: 1.25%;
  margin-left: 0.5%;
}
  .details01-s span {
    font-weight: 900;
  }
.margin-empty {
  margin-top: 35%;
}
.copyright {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 30rem;
}
.map {
  position: relative;
  z-index: 100;
  margin-top: -10px;
  margin-left: 10px;
}