@media screen and (max-width:480px) {

.page-top {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}
  .top-header {
    position: relative;
    flex: 2.25;
    display: inline;
  }
  .box {
    width: 90%;
    position: relative;
    text-align: right;
    flex: 5;
  }
  .arrow-box {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .page-top .backStr {
    position: absolute;
    display: inline;
    font-family: "HiraginoW4";
    font-size: 3.5vw;
    line-height: 3.75vw;
    color: #C8CED1;
    top: 0%;
    text-align: center;
    white-space: nowrap;
  }
  

.title00 {
  color: #000000;
  font-family: "HiraginoW7";
  font-size: 3rem;
  letter-spacing: 0.8px;
  margin-bottom: 19vw;
}
  #title00_yokoku{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }

span {
  display: inline-block;
}

.title01 {
  color: #000000;
  font-family: "HiraginoW4";
  font-size: 1.75rem;
  letter-spacing: 0.8px;
}
  .title01 img{
    display: block;
    margin:auto;
    /* width: 30%; */
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
  }

.title02 {
  width: 30%;
  color: #FFFFFF;
  margin: auto;
  font-size: 8rem;
  transform: scale(0.9, 1);
  background-color: #000000;
  font-family: "HelveticaNeue";
  font-weight: 900;
  letter-spacing: 0.6px;
  line-height: 90%;
}

.countdown {
  color: #000000;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: 5.5rem;
  font-size: 12vw;
  margin-top: -2%;
  margin-left: -1.25%;
  margin-bottom: 0%;
}

.arrow00 {
  color: #000000;
  font-family: "HiraginoW4";
  letter-spacing: 0.8px;
}
  .arrow00 img{
    display: relative;
    width: 100%;
    height: auto;
    max-width: 100px;
    min-width: 100px;
  }

.arrow {
  animation-name: arrow-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
  @keyframes arrow-animation {
    0% {
        transform: translate(0,0px);
    }
    100% {
        transform: translate(0,-15px)
    }
  }

.middle {
  /* background-color: aquamarine; */
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .middle-box-01 {
    position: relative;
    /* background-color: blue; */
    width: 95%;
    height: auto;
    /* max-width: 900px;
    min-width: 300px; */
    margin-top: 15%;
  }

  .middle-box-02 {
    position: relative;
    overflow: hidden;
    z-index: 50;
    background-color: #FCFDFC;
    width: 95%;
    /* max-width: 900px;
    min-width: 300px; */
    margin-bottom: -5%;
    margin-right: 0;
  }
    .border {
      position: absolute;
      width: 100%;
      height: auto;
      margin-bottom: -5%;
      text-align: right;
    }
    .border img {
      width: 40px;
    }

.details00 {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: a-otf-futo-go-b101-pr6n,sans-serif;
  font-weight: 500;
  font-size: 3.75vw;
  letter-spacing: 0.85px;
  line-height: 4.95vw;
  margin-top: 0rem;
}
  #details00_detail {
    position: relative;
    z-index: 100;
    color: #000000;
    font-family: a-otf-gothic-bbb-pr6n,sans-serif;
    letter-spacing: 0.5px;
    font-size: 3vw;
    display: inline-block;
  }
  #details00_detail a {
    color: #0071E2;
  }
  #details00_detail a:visited {
    color: #6200E2;
  }
  #details00_detail a:hover {
    color: #AD2E25;
  }
    #details00_detail span {
      font-weight: 900;
      /* line-height: 2.25rem; */
    }

.details01-s {
    color: #000000;
    font-family: a-otf-gothic-bbb-pr6n,sans-serif;
    font-weight: 400;
    font-size: 2.75vw;
    letter-spacing: 0.85px;
    margin-top: 1%;
    margin-left: 2%;
    }
    .details01-s span {
        font-weight: 900;
    }

.details01 {
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n,sans-serif;
  font-weight: 400;
  font-size: 2.75vw;
  letter-spacing: 0.85px;
  margin-top: 10%;
  margin-right: 10%;
}

.margin {
  margin-top: 15%;
}

.margin-empty {
    margin-top: 30vw;
  }

.copyright {
  font-family: a-otf-gothic-bbb-pr6n,sans-serif;
  color: #000000;
  text-align: center;
}

.contact {
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n,sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.95px;
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 1.75rem;
  text-align: center;
}
  .contact span {
    font-size: 1.5rem;
    font-weight: 900;
  }

.map {
  position: relative;
  z-index: 100;
  width: 85%;
  margin-top: -5px;
  margin-left: 5%;
}

 
}